@{
    ViewData["Title"] = "About";
}

<div class="text-center">
    <h1 class="display-4">About Me</h1>
    <p>I am a junior Software Developer with a cursory interest in literature and the law. </p>
</div>