@{ ViewData["Title"] = "ReadingList"; }

<body>
    <div class="text-center">
        <h1 class="display-4">Books</h1>
    </div>
    <p> Books I have recently read: </p>
    <ul>
        <li>Catch 22</li>
        <li>Zen and the Art of Motorcyle Maintenance</li>
        <li>Kafka's Short Stories</li>
        <li>Infinite Jest</li>
        <li>Jane Eyre</li>
        <li>Anna Karenina</li>
        <li>Crime and Punishment</li>
        <li>*If on a Winter's Night a Traveler</li>

    </ul>
    <p> Books I'm hoping to get to next:</p>
    <ul>
        <li>Desperate Characters</li>
        <li>The Count of Monte Cristo</li>
    </ul>


    <div class="text-center">
        <h1 class="display-4">Articles</h1>
    </div>
    <p> Links to articles I find noteworthy. </p>
    <ul>
        <li>Most things on SlateStarCodex for example <a href="https://slatestarcodex.com/2020/05/28/bush-did-north-dakota/">this</a></li>

    </ul>
    


    <div class="text-center">
        <h1 class="display-4">Other Sites</h1>
    </div>
    <p> Links to other websites/bloggers I think are worthwhile. </p>

</body>