@{
    ViewData["Title"] = "ReadingList";
}

<div class="text-center">
    <h1 class="display-4">Books</h1>
    <p> Books I am currently reading or have recently read. </p>
</div>


<div class="text-center">
    <h1 class="display-4">Articles</h1>
    <p> Links to articles I find noteworthy. </p>
</div>


<div class="text-center">
    <h1 class="display-4">Other Sites</h1>
    <p> Links to other websites/bloggers I think are worthwhile. </p>
</div>